body {
  font-family: Helvetica, Arial, sans-serif;
  color: #545556 ;
  text-align: center;
  margin: 0;
  padding: 0;
}

.header{
  /*border: 2px solid black;*/
  background-color: #ededed;
  width: 100%;
  margin: 0;
  padding: 0;
  left: -5px;

}

.footer{
  border: 2px solid blue;
  clear: both;

}

.results_panel{
  /*border: 2px solid green;*/
  float: left;
  width: 55%;
  padding: 0px 0px 0px 80px;
}

.result {
  /*border: 1px solid lightgreen;*/
  text-align: left;
  padding:0px 2px;
  margin: 15px 0px;
}

.result a {
  font-size: 14pt;
  color: blue;
    margin: 0;
    padding: 0;
}

.result p {
  font-size: 10pt;
  color: black;
  margin: 0;
  padding: 0;
}

.result .link {
  color: darkgreen;
  margin: 0;
  padding: 0;
}

.related {
  /*border: 2px solid grey;*/
}

.ads_panel {
  /*border: 2px solid red;*/
  float: right;
  width: 33%;
  margin: 3px;

}

.ad {
  background-color: #ededed;
  border: 1px solid lightgrey;
  margin: 5px;
}



a {
  text-decoration: none;
  color: #545556;
  padding: 5px 5px;
}

a:hover {
  text-decoration: underline;
}

.favicons {
  text-align: right;
  float: right;
  display: inline-block;
  margin: auto;
  font-size: 9pt;
  padding: 5px 40px;
}

ul {
  list-style:none;
}

li {
  display:inline;
  padding: 0px 10px;
  font-size: 10pt;
  /*color:#4286f4;*/
  font-weight:bold;
}

li a {
  font-size: 10pt;
  color: #545556;
  /*color:#4286f4;*/
  /*font-weight:bold;*/
}

/*li a:visited {
  color:#4286f4;
  font-weight:bold;
  text-decoration: underline;
}*/

h1 {
  font-size: 30pt;
  display: inline;
  color:#4286f4;
  padding: 0px;
  margin: -3px;
}

h1 ~ h1 {
  color: #e82510;
}

h1 ~ h1 ~ h1 {
  color: #e8dd10;
}

h1 ~ h1 ~ h1 ~ h1 {
  color: #4286f4;
}

h1 ~ h1 ~ h1 ~ h1 ~ h1 {
  color: #06c100;
}

h1 ~ h1 ~ h1 ~ h1 ~ h1 ~ h1 {
  color: #e82510;
}

form {
  display: inline;
}

form img{
  /*display: inline-block;*/
  /*background-color: blue;*/
  position: relative;
  left: -40px;
  top: 10px;

}

input {
  width: 40%;
  line-height: 2.75em;
  text-align: left;
  box-shadow: 0px 8px 4px lightgrey;
  border: .5px solid lightgrey;
  /*display: inline;*/
}


footer{
  text-align: left;
  position: fixed;
  bottom: 0;
  background-color: #ededed;
  width: 100%;
  margin: 30px 0 0 0;
  left: 0;
  border-top: 1px solid lightgrey;
  height:  50px;
}

/*footer div{
  display: inline-block;
  padding: 15px;
  margin: 0;
  font-size: 10pt;
}*/

footer a {
  left: 30px;
  margin: 15px 15px;
  padding: 15px 0px;
}
