body {
  font-family: Helvetica, Arial, sans-serif;
  color: #545556 ;
  text-align: center;
}

a {
  text-decoration: none;
  color: #545556;
  padding: 5px 5px;
}

a:hover {
  text-decoration: underline;
}

.favicons {
  text-align: right;
  float: right;
  display: inline-block;
  margin: auto;
  font-size: 9pt;
  padding: 5px 40px;
}

.spacer {
  height: 200px;
  width: 100%;
  margin: auto;
  padding: 0;
}

h1 {
  top: 100px;
  font-size: 50pt;
  margin: auto;
  clear: both;
  top: 30px;
  padding: 30px 0px;
  display: inline;
  color:#4286f4;
}

h1 ~ h1 {
  color: #e82510;
}

h1 ~ h1 ~ h1 {
  color: #e8dd10;
}

h1 ~ h1 ~ h1 ~ h1 {
  color: #4286f4;
}

h1 ~ h1 ~ h1 ~ h1 ~ h1 {
  color: #06c100;
}

h1 ~ h1 ~ h1 ~ h1 ~ h1 ~ h1 {
  color: #e82510;
}

input {
  width: 40%;
  line-height: 2.75em;
  text-align: right;
  box-shadow: 0px 8px 4px lightgrey;
  border: .5px solid lightgrey;
}

button {
  display: inline-block;
  margin: 20px 10px;
  padding: 10px;
  border: none;
  font-size:11pt;
  background-color: #ededed;
}

button:hover{
  border: 1px solid black;
  color: black;
  box-shadow: 0px 3px 3px lightgrey;

}

footer{
  text-align: left;
  position: fixed;
  bottom: 0;
  background-color: #ededed;
  width: 100%;
  margin: 0;
  left: 0;
  border-top: 1px solid lightgrey;
}

footer div{
  display: inline-block;
  padding: 15px;
  margin: 0;
  font-size: 10pt;
}

footer a {
  margin: 15px 15px;
  padding: 15px 0px;
}

.left_foot{
  text-align: left;
  float: left;
}

.right_foot {
  text-align: right;
  float: right;
}
